---
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
    const data = await fetch("../../../public/products.json").then((response) =>
        response.json()
    );
    return data.map((prod) => ({
        params: { id: prod.id },
        props: { prod },
    }));
}

const { id } = Astro.params;
const { prod } = Astro.props;
import { Icon } from "astro-icon";
---

<Layout title={prod.name}>
    <main>
        <div class="product">
            <a class="backBtnPos" href="/#products">
                <button class="backBtn">
                    <Icon name="charm:arrow-left" class="icon" />
                    Volver
                </button>
            </a>
            <h2 class="titulo-prod">{prod.name}</h2>
            <div class="gallery">
                <img class="prodImg" src={`../../../${prod.src}`} alt="Product Image" />
                
                {
                    prod.src2 ?
                    <img class="prodImg" src={`../../../${prod.src2}`} alt="Product Image" />
                    : {}
                }
                {
                    prod.src3 ?
                    <img class="prodImg" src={`../../../${prod.src3}`} alt="Product Image" />
                    : {}
                }
                {
                    prod.src4 ?
                    <img class="prodImg" src={`../../../${prod.src4}`} alt="Product Image" />
                    : {}
                }
                {
                    prod.src5 ?
                <img class="prodImg" src={`../../../${prod.src5}`} alt="Product Image" />
                : {}
                }
                {
                    prod.src6 ?
                    <img class="prodImg" src={`../../../${prod.src6}`} alt="Product Image" />
                    : {}
                }
            </div>
            <h3>Descripcion</h3>
            <p>{prod.description_2}</p>
        </div>
    </main>
</Layout>

<style>
    main {
        max-width: 70vw;
        margin: 0 auto;
    }
    .product {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .backBtnPos{
        transform: scale(1.3);
        align-self: flex-start;
        margin: 8em 0 0 3em;
    }
    .backBtn{
        cursor: pointer;
        background-color: inherit;
        border: 0;
    }
.icon{
    width:1em;
}
    .gallery{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .prodImg{
        margin: 1rem;
        max-height: 400px;
        min-height: min-content;
    }

    h2 {
        margin-top: 1rem;
        font-size: var(--step-2);
        text-align: center;
    }
    img {
        align-self: center;
        object-fit: contain;
        width: 100%;
        max-width: 400px;
        min-width: 200px;
    }
    h3 {
        font-size: var(--step-1);
        align-self: flex-start;
        margin: 1rem;
    }
    p {
        white-space:pre-wrap;
        font-size: var(--step--2);
        margin: 1rem;
        color: #444;
        align-self: flex-start;
    }
</style>
